<!DOCTYPE html>
<html ng-app="MainApp" ng-cloak>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/Scripts/app/account/rechord_logo.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    @Html.Raw(ViewBag.CustomContent == null ? "" : ViewBag.CustomContent["head"] ?? "")
</head>
<body style="background:url('/scripts/app/account/bg_login.jpg')">
    @RenderBody()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://unpkg.com/%40angular/router%400.2.0/angular1/angular_1_router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-cookies/1.7.8/angular-cookies.min.js" integrity="sha512-hm0dF/wn+bi0rmDovur+igAqDtl2itcMXFkU9LZ5uwOQLivPgg4RKzu4aylv8hZEl5h3sbYmk95pKsi+lhnHdg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.8/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-flatpickr/3.6.6/ng-flatpickr.min.js" integrity="sha512-5REKNeo6Q4apvGxIMyUHA0sMEbxe6SAcmboeVMuZxc7Jbu4TS1xmVFWs0qy9pR6EqHYyc8sB6Y3CtIhprKJgbw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-aria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.7.1/angular-local-storage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>

    @Html.Raw(ViewBag.CustomContent == null ? "" : ViewBag.CustomContent["beforeapp"] ?? "")
    @RenderSection("scripts", required: false)
    @Html.Raw(ViewBag.CustomContent == null ? "" : ViewBag.CustomContent["afterapp"] ?? "")
</body>
</html>
